{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">

    <link rel="stylesheet" href="{% static './css/page2.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  </head>

  <body class="loaded" style="">



  <div id="bgImage0" class="cycle-bg-image" >
    <video playsinline autoplay muted loop poster  class='userVideo' >
      <source src="{% static './vids/Pexels Videos 2272102.mp4' %}" type="video/webm">
    </video>
    
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
      </div><div class="tm-main-container">
        <div class="tm-top-container">


          <!-- Site header -->
          <header class="tm-site-header-box tm-bg-dark"  data-aos="flip-up">
            <h1 class="tm-site-title">About us</h1>
            <p class="mb-0 tm-site-subtitle">A website designed to make<br> it easier to get the books you need in exchange for those who you dont use anymore</p>
          </header>
        </div>
        <!-- tm-top-container -->

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <!-- Site content -->
              <div class="tm-content">
                <!-- Section 0 Introduction -->
                <section class="tm-section tm-section-0" style="display: block;">
                  <h2 class="tm-section-title mb-3 font-weight-bold">
                    Introduction
                  </h2>
                  <div class="tm-textbox tm-bg-dark" data-aos="fade-right">
                    <p>
                      <h3>We are a  community for exchanging used books.</h3>
                      <ul>
                        <li>Give & receive: Every time you give someone a book, you earn a point and can get any book you want from anyone else at BookMooch. </li>
                        <li>No cost: there is no cost to join or use this website: your only cost is mailing your books to others.</li>
                        <li>Points for entering books: you receive a tenth-of-a-point for every book you type into our system, and one point each time you give a book away. In order to keep receiving books, you need to give away at least one book for every two you receive.</li>
                        <li>World wide: You can request books from other countries, in other languages. You receive 3 points when you send a book out of your country, to help compensate you for the greater mailing cost, and it costs the moocher 3 points to get the book.</li>
                      </ul>
                    </p>

                  </div>
                  <a href="" id="tm_about_link" data-linkid="1" class="tm-link">Read More</a>
                </section>





      </div>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js">
</script>

<script>
  AOS.init({
  duration: 1500,
});
</script>

    </div>




    </body>
</html>
